header{
    gap: 20px;
    font-size: 1.5rem;
}

body{ 
    background-color: #eeedd3;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #eeedd3;
    display: flex;
    justify-content: center;
    padding: 10px
}

nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logo {
    width: 50%;
    height: 50%;
    max-width: 200px;
    max-height: 100px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

#food{
    max-width: 90vw;
}

.caption {
    font-style: italic;
    font-size: 1rem;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
}

figcaption {
    font-size: 1rem;
}

.menu-item img {
    border-radius: 6px;
    max-height: 300px;
    min-height: 250px;
    max-width: 80vw;
}

@media(min-width: 600px){
    #logo{
        width: 50%;
        height: 50%;
        max-width: 400px;
        max-height: 200px;
    }

    #food{
        width: 30%;
        height: 30%;
    }
    
}